<!DOCTYPE html>
<html lang="en">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script>

function sm(){

window.location.href="sendmail.php";
    
    
    }
</script>    
    <style>
    
.cap {   
   -webkit-text-fill-color:white; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color:#5E8A84;
    text-shadow:
   2px 2px 0 #ccc,  
    1px 1px 0 #ccc,
    1px 1px 0 #ccc,
     1px 1px 0 #ccc;
    }
        
   .cap1 {   
   -webkit-text-fill-color:#DCFAF6; /* Will override color (regardless of order) */
   -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color:#5E8A84;
    text-shadow:
   2px 2px 0 #ccc,  
   1px 1px 0 #ccc,
   1px 1px 0 #ccc,
   1px 1px 0 #ccc;
   align-content: center;
   font-size:37px; top: 0px; margin-top: 3px ;s    
       
    }
        
  .fcapborder {   
   border:5px red; 
    }
    </style>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Luckystar</title>

<!-- Google fonts -->
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>

<!-- font awesome -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<!-- bootstrap -->
<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css" />

<!-- animate.css -->
<link rel="stylesheet" href="assets/animate/animate.css" />
<link rel="stylesheet" href="assets/animate/set.css" />

<!-- gallery -->
<link rel="stylesheet" href="assets/gallery/blueimp-gallery.min.css">

<!-- favicon -->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">


<link rel="stylesheet" href="assets/style.css">

</head>

<body>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="#home"><img style="height:200%" src="images/lucky.jpg" alt="logo"></a>
	      <a class="navbar-brand" href="#home"><img src="images/logo.png" alt="logo"></a>
              <!-- #Logo Ends -->
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
         <!-- Nav Starts -->
            <div class="navbar-collapse  collapse">
              <ul class="nav navbar-nav navbar-right scroll">
                 <li class="active"><a href="#works">HOME</a></li>
                 <li ><a href="#about">ABOUT</a></li>
                 <li ><a href="#partners">OUR TEAM</a></li>
                 <li ><a href="#contact">CONTACT</a></li>
              </ul>
            </div>
            <!-- #Nav Ends -->
          </div>
        </div>
      </div>
    </div>
<!-- #Header Starts -->
<!-- works -->
<div id="works"  class=" clearfix grid"> 
    <figure class="effect-oscar  wowload fadeIn">
        <img src="images/portfolio/1.jpg" alt="img01"/>
        <figcaption>
            <a href="galleryml/index.html" title=""></a> 
            <h2 class="cap">Models<br></h2>                   
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/2.jpg" alt="img01"/>         
        <figcaption>
	    <a href="gallerye/index.html" title=""></a>   	             
            <h2 class="cap">Corporate Events</h2>                        
        </figcaption></a>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/3.jpg" alt="img01"/>         
        <figcaption>
	    <a href="gallerype/index.html" title=""></a> 	    
            <h2 class="cap">Private<br>Events</h2>                    
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/4.jpg" alt="img01"/>
        <figcaption>
	     <a href="gallerycp/index.html" title=""></a>	            
            <h2 class="cap">Corporate Portraits</h2>        
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/5.jpg" alt="img01"/>
        <figcaption>
             <a href="gallerypp/index.html" title=""></a>
            <h2 class="cap">Personal Portfolios</h2>                     
        </figcaption>
    </figure>
     <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/6.jpg" alt="img01"/>
        <figcaption>
            <a href="galleryp/index.html" title=""></a> 
            <h2 class="cap">Product Promotion</h2>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
         <img src="images/portfolio/7.jpg" title=""/>
        <figcaption>
            <a href="gallerybp/index.html" title=""></a>
            <h2 class="cap">Boat<br>Parties</h2>                        
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/8.jpg" alt="img01"/>
        <figcaption>
            <a href="images/portfolio/8.jpg" title=""></a>
           <a href="gallery/index.html" title=""></a> 
	   <h2 class="cap">Fitness</h2>                        
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/9.jpg" alt="img01"/>
        <figcaption>
         <a href="video.html" title=""></a>
            <h2 class="cap">Videos</h2>                        
        </figcaption>
    </figure>
    <!--figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/10.jpg" alt="img01"/>
        <figcaption>
            <h2>cameras</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/10.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/11.jpg" alt="img01"/>
        <figcaption>
            <h2>design</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/11.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="images/portfolio/12.jpg" alt="img01"/>
        <figcaption>
            <h2>studio</h2>
            <p>Lily likes to play with crayons and pencils<br>
            <a href="images/portfolio/12.jpg" title="1" data-gallery>View more</a></p>            
        </figcaption>
    </figure-->
</div>

<!--works-->


<!-- Cirlce Starts -->
<div id="about"  class="container spacer about">
<h2 class="text-center wowload fadeInUp">LUCKY STAR IMAGES IS A VERSATILE<br>PHOTOGRAPHIC AGENCY</h2>  
  <div class="row">
  <div class="col-sm-6 wowload fadeInLeft">
    <!--h4><i class="fa fa-paint-brush"></i> Design</h4>
    <p>Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs, lead by passionate and uber progressive team that lives and breathes design. Creative digital agency for sleek and sophisticated solutions for mobile, websites and software designs.</p-->    
  </div>
  <div class="col-sm-12 wowload fadeInRight">
  <h4></h4>
  <p>Lucky Star Entertainment is a Sydney-based global full-service entertainment agency providing world-class entertainment, event production and management services in domestic and international markets. Our team manages bookings for world-renowned DJs, promotional models, performance artists and talent.
 
Lucky Star Entertainment leverages our relationships with entertainment industry professionals to deliver the “hard to get” talent that will generate buzz. Our booking and production team combines years of international experience with a wealth of knowledge to both develop and produce concepts that range from corporate events, brand promotions, product launch, private functions, DJs or performance artists. Each of which is custom made to fit your event theme, market and budget.</p>    
  </div>
  </div>
  <!--div class="process">
  <h3 class="text-center wowload fadeInUp">Process</h3>
  <ul class="row text-center list-inline  wowload bounceInUp">
      <li>
            <span><i class="fa fa-history"></i><b>Research</b></span>
        </li>
        <li>
            <span><i class="fa fa-puzzle-piece"></i><b>Plan</b></span>
        </li>
        <li>
            <span><i class="fa fa-database"></i><b>Develop</b></span>
        </li>
        <li>
            <span><i class="fa fa-magic"></i><b>Integration</b></span>
        </li>        
        <li>
            <span><i class="fa fa-cloud-upload"></i><b>Deliver</b></span>
        </li>
    </ul>
  </div-->
</div>
<!-- #Cirlce Ends -->
<!-- About Starts -->
<div class="highlight-info">
<div class="overlay spacer">
<div class="container">
<div class="row text-center  wowload fadeInDownBig">  
</div>
</div>
</div>
</div>
<!-- About Ends -->
<div id="partners" class="container spacer ">
	<h2 class="text-center  wowload fadeInUp">OUR TEAM</h2>
  
  
  
  
<!-- team -->







<p class="text-center  wowload fadeInLeft">Our creative team that is making everything possible</p>
<div class="row grid team  wowload fadeInUpBig">	
	<div class=" col-sm-4 col-xs-8">
	<figure class="effect-chico">
        <img src="images/team/8.jpg" alt="img01"  width="300" height="375"/>
        <figcaption>
            <p><b>Ben Le-van</b><br>Producer<br><br></p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-4 col-xs-8">
	<figure class="effect-chico">
        <img src="images/team/10.jpg" alt="img01" width="300" height="375"/>
        <figcaption>            
   <p><b>Miki Bemer</b><br>Photographer<br><br><a href="https://www.facebook.com/mikibemerphotography/?fref=ts"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/mikibemer"><i class="fa fa-twitter"></i></a></p>            
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-4 col-xs-8">
	<figure class="effect-chico">
        <img src="images/team/12.jpg" alt="img01" width="300" height="375"/>
        <figcaption>
   <p><b>Brent Pottinger</b><br>Photographer<br><br><a href="https://www.facebook.com/Brent-Pottinger-Photography-855040631258719/?pnref=lhc"><i class="fa fa-facebook"></i></a></p>         
        </figcaption>
    </figure>
    </div>

    <div class=" col-sm-4 col-xs-8">
	<figure class="effect-chico">
        <img src="images/team/17.jpg" alt="img01" width="300" height="375"/>
        <figcaption>
            <p><b>Marie-Therese Karlberg</b><br>Photographer<br><br><a href="https://www.facebook.com/marietherese.karlberg?fref=ts"><i class="fa fa-facebook"></i></a></p>
        </figcaption>
    </figure>
    </div>
    
     <div class=" col-sm-4 col-xs-8">
	<figure class="effect-chico">
        <img src="images/team/Vahe.jpg" alt="img01" width="300" height="375"/>
        <figcaption>
            <p><b>Vahe Chobanyan</b><br>IT<br><br></p>
        </figcaption>
    </figure>
    </div>
    
     <div class=" col-sm-4 col-xs-8">
	<figure class="effect-chico">
        <img src="images/team/9.jpg" alt="img01" width="300" height="375"/>
        <figcaption>
            <p><b>Chelsea Le-van </b><br>Entertainment<br><br><a href="https://www.facebook.com/chelsea.levan.9"><i class="fa fa-facebook"></i></a></p>
        </figcaption>
    </figure>
    </div>
 
</div>
<!-- team -->

</div>

<form action="sendmail.php" method="post">
<!--Contact Starts-->
<div id="contact" class="spacer">

<div class="container contactform center">
<h2 class="text-center  wowload fadeInUp">CONTACT US</h2>
  <div class="row wowload fadeInLeftBig">      
      <div class="col-sm-6 col-sm-offset-3 col-xs-12" ng-app="">      
        <input   id="name"     name="name"     type="text" placeholder="name" ng-model="name">
        <input   id="lastname" name="lastname" type="text" placeholder="lastname" ng-model="lastname">
        <input   id="email"    name="email"    type="text" placeholder="email">
        <input id="fullname" name="fullname"  type="hidden" value="{{name +' '+ lastname}}"/>
        <textarea id="message" name="message"   rows="5" placeholder="message"></textarea>
        <input   type="submit" id="sendmail" name="sendmail" class="btn btn-primary" value="Send" />

          
<!--input type="button" onClick="sm()" id="sendmail" name="sendmail" class="btn btn-primary" value="Send" /-->
     
      </div>
  </div>
</div>
</div>
<!--Contact Ends-->
</form>


<!-- Footer Starts -->
<div class="footer text-center spacer">
<p class="wowload flipInX"><a href="https://www.facebook.com/luckystarentertainments/"><i class="fa fa-facebook fa-2x"></i></a> <a href="https://www.instagram.com/luckystarmodels/"><i class="fa fa-instagram fa-2x"></i></a></p>
Copyright 2016  Vahe Chobanyan and Luckystar Production. All rights reserved.
</div>
<!-- # Footer Ends -->
<a href="#works" class="gototop "><i class="fa fa-angle-up  fa-3x"></i></a>
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
    <!-- The container for the modal slides -->
    <div class="slides"></div>
    <!-- Controls for the borderless lightbox -->
    <h3 class="title">Title</h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <!-- The modal dialog, which will be used to wrap the lightbox content -->    
</div>
<!-- jquery -->
<script src="assets/jquery.js"></script>

<!-- wow script -->
<script src="assets/wow/wow.min.js"></script>


<!-- boostrap -->
<script src="assets/bootstrap/js/bootstrap.js" type="text/javascript" ></script>

<!-- jquery mobile -->
<script src="assets/mobile/touchSwipe.min.js"></script>
<script src="assets/respond/respond.js"></script>

<!-- gallery -->
<script src="assets/gallery/jquery.blueimp-gallery.min.js"></script>

<!-- custom script -->
<script src="assets/script.js"></script>

</body>
</html>
